
div.editor-page
    div.container.page
        div.row
            div.col-md-10.offset-md-1.col-xs-12
            
                list-errors( errors="$ctrl.errors")
                
                form
                    fieldset(ng-disabled="$ctrl.isSubmitting")
                    
                        +form-control("text", "Article Title", "article.title")
                        
                        +form-control("text", "Wat's this article about?", "article.description")
                        
                        +form-control("textarea", "Write your article (in markdown)", "article.body", 8)
                        
                        +form-control("text", "Enter tag", "tagField")(fldAttrs={'ng-keyup': '$event.keyCode == 13 && $ctrl.addTag()'})
                            
                            div.tag-list
                                span.tag-default.tag-pill( ng-repeat="tag in $ctrl.article.tagList")
                                    i.ion-close-round( ng-click="$ctrl.removeTag(tag)")
                                        | &nbsp;{{tag}}
                                        
                        button.btn.btn-lg.pull-xs-right.btn-primary(ng-click="$ctrl.submit()")
                            | Publish Article
