
nav.navbar.navbar-light
  div.container

    a.navbar-brand(
        ui-sref="app.home"
        ng-bind="::$ctrl.appName | lowercase"
    )

    - var publicNavItems = [{state: 'home'}, {state: 'login', label: 'Sign In'}, {state: 'register', label: 'Sign Up'}]
    
    // Show this for logged out users
    +navbar(publicNavItems)( show-authed="false")

    -var authNavItems = [{state: 'home'}, {state: 'article'}]
    
    // Show this for logged in users
    +navbar(authNavItems)( show-authed="true")
        
        +nav-item({state: 'settings'})
            i.ion-gear-a 
            |&nbsp;
        
        +nav-item({state: "profile({username: $ctrl.currentUser.username})", label: " "})

                img.user-pic( ng-src="{{$ctrl.currentUser.image}}")
                |{{$ctrl.currentUser.username}}
