
nav.navbar.navbar-light
  div.container

    a.navbar-brand(
        ui-sref="app.home"
        ng-bind="::$ctrl.appName | lowercase"
    )

    // Show this for logged out users
    +states-ul(['home', 'login', 'register'])(show-authed="false")
    
    // Show this for logged in users
    +states-ul(['home', 'article'])(show-authed="true")
    
        +state-li('settings')
            block settings
                i.ion-gear-a
                |&nbsp; Settings

        +state-li('profile')( 
                ui-sref="app.profile({username: $ctrl.currentUser.username})"
            )
            block profile
                img.user-pic( ng-src="{{$ctrl.currentUser.image}}")
                |{{$ctrl.currentUser.username}}
