
// form-control mixin
mixin form-control(fldType, pholder, model, rows)

    if attributes.groupAttrs
        
        fieldset.form-group&attributes(attributes.groupAttrs)
        
            if attributes.fldAttrs
                +field(fldType, pholder, model, rows)&attributes(attributes.fldAttrs)
            else
                +field(fldType, pholder, model, rows)
            
            if block
                block
    else
        
        fieldset.form-group
        
            
            if attributes.fldAttrs
                +field(fldType, pholder, model, rows)&attributes(attributes.fldAttrs)
            else
                +field(fldType, pholder, model, rows)
                    
            if block
                block
