
// state-li mixin
mixin nav-item(item)

    li.nav-item
        a.nav-link(
            ui-sref-active="active"
            ui-sref= 'app.' + item.state
        )&attributes(attributes)
    
            unless item.iconPos || 'after' === item.iconPos
                block
    
            unless item.label
            
                | #{item.state[0].toUpperCase() + item.state.substring(1)}
            else
                | #{item.label}
        
            if item.iconPos && item.iconPos === 'after'
                |&nbsp;
                block
                
                
