
// state-li mixin
mixin state-li(state)

    li.nav-item
        a.nav-link(
            ui-sref-active="active"
            ui-sref= 'app.' + state
        )&attributes(attributes)

            | #{state[0].toUpperCase() + state.substring(1)}
        
        if block
        block
