doctype html
html
    head
        meta( charset="utf-8")
        title( ng-bind="pageTitle")
        link( href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="//demo.productionready.io/main.css")
    body
    div( ui-view)

    script( src="main.js")
